alabaster==1.0.0
asttokens==3.0.0
babel==2.17.0
black==25.1.0
build==1.2.2.post1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
contourpy==1.3.2
cryptography==44.0.2
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
docutils==0.21.2
executing==2.2.0
flake8==7.2.0
fonttools==4.57.0
id==1.5.0
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==25.6.0
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.7.0
mpl-markers==0.0.21
mypy_extensions==1.1.0
nest-asyncio==1.6.0
nh3==0.2.21
np-struct==0.0.2
numpy==2.3.1
numpydoc==1.9.0
packaging==25.0
parameterized==0.9.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.7
pluggy==1.5.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.13.0
pycparser==2.22
pyflakes==3.3.2
Pygments==2.19.1
pyparsing==3.2.3
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
pyserial==3.5
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pytest==8.3.5
python-dateutil==2.9.0.post0
pyzmq==26.4.0
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
-e .
rich==14.0.0
roman-numerals-py==3.1.0
schemdraw==0.20
scipy==1.15.2
SecretStorage==3.3.3
shiboken6==6.9.0
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
sphinx-gallery==0.19.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
texenv==0.0.10
tornado==6.4.2
traitlets==5.14.3
twine==6.1.0
urllib3==2.4.0
wcwidth==0.2.13
